/* Borders in greylead to help whne planning the container spacing and page layout */
.draft-lines {
  border: solid 1px silver;
}

#main-container {
  display: flex;
}

/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */

#site-menu {
  display: flex;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0px;
}

.container {
  width: 80%;
  /* Center the DIV horizontally */
  margin: 0 auto;
}

.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  padding: 10px 0 0;
  background: #333;
  color: #fff;
}

.fixed-header {
  top: 0;
}

.fixed-footer {
  bottom: 0;
}

/* Some more styles to beutify this example */
nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}

.container p {
  /* Create scrollbar to test positioning */
  line-height: 200px;
}
